:root {
  --ms-red: #f34f1c;
  --ms-green: #7fbc00;
  --ms-yellow: #ffba01;
  --ms-blue: #01a6f0;
  --ms-gray: #747474;

  --light-red: #f8b18f;
  --light-green: #bad966;
  --light-yellow: #ffe46e;
  --light-blue: #7ddbf6;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  padding: 2em 2%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  max-width: 1400px;
  margin: auto;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

section {
  margin: 6em 1em 1em 1em;
}

section.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
  margin: 4em auto;
}

section.header > img {
  margin: auto;
  height: 300px;
  width: 300px;
}

section:last-child {
  margin-bottom: 2em;
}

h1 {
  text-align: center;
}

.box {
  border-radius: 8px;
  border: 1px solid #ddd;
}

.shadow {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

.btn {
  border-radius: 8px;
  background-color: var(--ms-blue);
  color: white;
  font-weight: bold;
  margin: 1em 0;
  padding: 1em;
  transition: background-color 100ms;
}

.btn:hover {
  background-color: var(--light-blue);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1em 2em;
  font-size: 1.25em;
}

footer img {
  width: 1.5em;
  height: 1.5em;
  padding: 0em 0.25em;
}
